---
swagger: "2.0"
info:
  description: "Sample version of DSF-SE API for communication with the professional\
    \ UI"
  version: "3"
  title: "DSF-SE API"
  contact:
    email: "sisay.adugna.chala@fit.fraunhofer.de"
host: "simplon.fit.fraunhofer.de"
basePath: "/se"
tags:
- name: "simulation"
  description: "Simulation"
- name: "commands"
  description: "Commands for the simulation engine"
schemes:
- "http"
paths:
  /simulation:
    post:
      tags:
      - "simulation"
      summary: "Send grid data to simulation engine in order to create a new simulation"
      operationId: "create_simulation"
      parameters:
      - in: "body"
        name: "body"
        description: "Grid to be simulated"
        required: true
        schema:
          $ref: "#/definitions/Grid"
      responses:
        200:
          description: "ID of the created simulation"
          schema:
            type: "string"
      x-swagger-router-controller: "swagger_server.controllers.simulation_controller"
  /simulation/{id}:
    get:
      tags:
      - "simulation"
      summary: "Get result of simulation"
      operationId: "get_simulation_result"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation"
        required: true
        type: "string"
      responses:
        200:
          description: "Results of successful simulation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SimulationResult"
        400:
          description: "Invalid simulation configuration data supplied"
        404:
          description: "Simulation ID not found"
      x-swagger-router-controller: "swagger_server.controllers.simulation_controller"
    put:
      tags:
      - "simulation"
      summary: "Send new data to an existing simulation"
      operationId: "update_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated grid data"
        required: true
        schema:
          $ref: "#/definitions/Grid"
      responses:
        default:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.simulation_controller"
    delete:
      tags:
      - "simulation"
      summary: "Delete a simulation and its data"
      operationId: "delete_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.simulation_controller"
  /commands/run/{id}:
    post:
      tags:
      - "commands"
      summary: "Runs a simulation"
      description: "Runs a simulation"
      operationId: "run_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation that should be started"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Configuration data for the simulation e.g. duration"
        required: true
        schema:
          $ref: "#/definitions/Simulation"
      responses:
        200:
          description: "Results of successful simulation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SimulationResult"
        400:
          description: "Invalid simulation configuration data supplied"
        404:
          description: "Simulation ID not found"
      x-swagger-router-controller: "swagger_server.controllers.commands_controller"
  /commands/abort/{id}:
    post:
      tags:
      - "commands"
      summary: "Aborts a running simulation"
      description: "If the user of the professional GUI decides to abort a running\
        \ simulation this call will be triggered"
      operationId: "abort_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation that should be aborted"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.commands_controller"
definitions:
  Grid:
    type: "object"
    properties:
      common:
        $ref: "#/definitions/Grid_Definition"
      radials:
        type: "array"
        items:
          $ref: "#/definitions/Radial"
  Grid_Definition:
    type: "object"
    properties:
      id:
        type: "string"
      base_kV:
        type: "number"
      per_unit:
        type: "number"
      phases:
        type: "integer"
      bus1:
        type: "string"
      angle:
        type: "integer"
      MVAsc3:
        type: "number"
      MVAsc1:
        type: "number"
  Radial:
    type: "object"
    properties:
      radialId:
        type: "string"
      transformer:
        type: "array"
        items:
          $ref: "#/definitions/Transformer"
      loads:
        type: "array"
        items:
          $ref: "#/definitions/Load"
      powerProfiles:
        type: "array"
        items:
          $ref: "#/definitions/PowerProfile"
      powerLines:
        type: "array"
        items:
          $ref: "#/definitions/Powerline"
      photovoltaics:
        type: "array"
        items:
          $ref: "#/definitions/Photovoltaic"
      storageUnits:
        type: "array"
        items:
          $ref: "#/definitions/Storage"
      chargingPoints:
        type: "array"
        items:
          $ref: "#/definitions/ChargingPoint"
      linecode:
        type: "array"
        items:
          $ref: "#/definitions/Linecode"
      capacitor:
        type: "array"
        items:
          $ref: "#/definitions/Capacitor"
      voltage_regulator:
        type: "array"
        items:
          $ref: "#/definitions/RegControl"
      xycurves:
        type: "array"
        items:
          $ref: "#/definitions/XYCurve"
      loadshapes:
        type: "array"
        items:
          $ref: "#/definitions/Loadshape"
      tshapes:
        type: "array"
        items:
          $ref: "#/definitions/Tshape"
  Node:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
    example:
      id: "id"
  Phases:
    type: "object"
    required:
    - "phase_R"
    - "phase_S"
    - "phase_T"
    properties:
      phase_R:
        type: "boolean"
      phase_S:
        type: "boolean"
      phase_T:
        type: "boolean"
  RegControl:
    type: "object"
    required:
    - "id"
    - "transformer_id"
    - "voltage_setting"
    - "winding_id"
    properties:
      id:
        type: "string"
      transformer_id:
        type: "string"
        description: "ID of the transformer to be connected to"
      winding_id:
        type: "string"
      voltage_setting:
        type: "number"
      bandwidth_Volt:
        type: "number"
      PT_Ratio:
        type: "number"
      CT_primary_rating_Amp:
        type: "number"
      line_drop_compensator_R_Volt:
        type: "number"
      line_drop_compensator_X_Volt:
        type: "number"
  Capacitor:
    type: "object"
    required:
    - "bus"
    - "id"
    - "kV"
    - "kVAR"
    - "phases"
    properties:
      id:
        type: "string"
      bus:
        type: "string"
        description: "ID for the connected node"
      phases:
        type: "integer"
      kVAR:
        type: "number"
      kV:
        type: "number"
  Load:
    type: "object"
    required:
    - "bus"
    - "id"
    - "kV"
    - "phases"
    properties:
      id:
        type: "string"
      bus:
        type: "string"
        description: "ID for the connected node"
      phases:
        type: "integer"
      connection_type:
        type: "string"
      model:
        type: "integer"
        description: "Defining load models for openDSS"
        minimum: 1
        maximum: 8
      kV:
        type: "number"
      kW:
        type: "number"
      kVar:
        type: "number"
      powerfactor:
        type: "number"
        maximum: 1
      power_profile_id:
        type: "string"
  PowerProfile:
    type: "object"
    properties:
      id:
        type: "string"
      items:
        type: "number"
  Powerline:
    type: "object"
    required:
    - "id"
    - "unitlength"
    properties:
      id:
        type: "string"
      bus1:
        type: "string"
        description: "ID for the connected node"
      phases:
        type: "integer"
      bus2:
        type: "string"
        description: "ID for the connected node"
      length:
        type: "number"
      unitlength:
        type: "string"
      linecode:
        type: "string"
      r1:
        type: "number"
      r0:
        type: "number"
      x1:
        type: "number"
      x0:
        type: "number"
      c1:
        type: "number"
      c0:
        type: "number"
      switch:
        type: "boolean"
        default: false
  Linecode:
    type: "object"
    required:
    - "id"
    - "units"
    properties:
      id:
        type: "string"
      R1:
        type: "number"
      R0:
        type: "number"
      X1:
        type: "number"
      X0:
        type: "number"
      C1:
        type: "number"
      C0:
        type: "number"
      R_Matrix:
        $ref: "#/definitions/Linecode_R_Matrix"
      X_Matrix:
        $ref: "#/definitions/Linecode_R_Matrix"
      C_Matrix:
        $ref: "#/definitions/Linecode_R_Matrix"
      units:
        type: "string"
      base_frequency:
        type: "number"
  Impedance:
    type: "object"
    properties:
      R1:
        type: "number"
      R0:
        type: "number"
      X1:
        type: "number"
      X0:
        type: "number"
      C1:
        type: "number"
      C0:
        type: "number"
  XYCurve:
    type: "object"
    required:
    - "id"
    - "npts"
    - "xarray"
    - "yarray"
    properties:
      id:
        type: "string"
      npts:
        type: "number"
      xarray:
        type: "array"
        items:
          type: "number"
      yarray:
        type: "array"
        items:
          type: "number"
  Loadshape:
    type: "object"
    required:
    - "id"
    - "interval"
    - "mult"
    - "npts"
    properties:
      id:
        type: "string"
      npts:
        type: "number"
      interval:
        type: "number"
      mult:
        type: "array"
        items:
          type: "number"
  Tshape:
    type: "object"
    required:
    - "id"
    - "interval"
    - "npts"
    - "temp"
    properties:
      id:
        type: "string"
      npts:
        type: "number"
      interval:
        type: "number"
      temp:
        type: "array"
        items:
          type: "number"
  Storage:
    type: "object"
    required:
    - "DoD"
    - "SoC"
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      SoC:
        type: "number"
      DoD:
        type: "number"
      SoH:
        type: "number"
      energy:
        type: "number"
      inverterEfficiency:
        type: "number"
      phases:
        type: "integer"
      voltage:
        type: "number"
      voltageunit:
        type: "string"
      power:
        type: "number"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"
  Photovoltaic:
    type: "object"
    required:
    - "bus1"
    - "daily"
    - "effcurve"
    - "id"
    - "node"
    - "pf"
    - "phases"
    - "power"
    - "ptcurve"
    - "voltage"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      inverterEfficiency:
        type: "number"
      phases:
        type: "integer"
      power:
        type: "number"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"
      bus1:
        type: "string"
      voltage:
        type: "number"
      effcurve:
        type: "string"
      ptcurve:
        type: "string"
      daily:
        type: "string"
      tdaily:
        type: "string"
      pf:
        type: "number"
      voltageunit:
        type: "string"
  ChargingPoint:
    type: "object"
    required:
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
    example:
      node: "node"
      id: "id"
  Winding:
    type: "object"
    properties:
      wdg:
        type: "integer"
        description: "Integer representing the winding witch will become the active\
          \ winding for subsequent data"
      bus:
        type: "string"
        description: "Definition for the connector of this winding (each winding is\
          \ connected to one terminal of the transformator and, hence, to one bus"
      connection_type:
        type: "string"
      kV:
        type: "number"
        description: "Rated voltage of this winding, kV"
      kVA:
        type: "number"
        description: "base kVA rating for windings"
      percent_resistance:
        type: "number"
      xlt:
        type: "integer"
      xht:
        type: "integer"
    example:
      wdg: 1
      bus: "SourceBus"
      connection_type: "wye"
      kV: 4.160000000000000142108547152020037174224853515625
      kVA: 5000
      percent_resistance: 0.5
  Transformer:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
      phases:
        type: "integer"
        description: "Number of Phases"
      windings:
        type: "integer"
        description: "number of windings"
      kvas:
        type: "array"
        items:
          type: "number"
      buses:
        type: "array"
        items:
          type: "string"
      kvs:
        type: "array"
        items:
          type: "number"
      wdgs:
        $ref: "#/definitions/Transformer_wdgs"
      regcontrol:
        $ref: "#/definitions/Transformer_regcontrol"
      xhl:
        type: "number"
        description: "Percent reactance high-to-low (winding 1 to winding 2)"
      xlt:
        type: "number"
        description: "Percent reactance high-to-low (winding 2 to winding 3)"
      xht:
        type: "number"
        description: "Percent reactance high-to-low (winding 1 to winding 3)"
      percent_load_loss:
        type: "number"
        description: "Percent reactance high-to-low (winding 1 to winding 3)"
        minimum: 0
        maximum: 1
      bank:
        type: "string"
        description: "Name of the bank this transformer is part of"
      tapLevel:
        type: "number"
      base_frequency:
        type: "number"
  Duration:
    type: "object"
    properties:
      day:
        type: "integer"
        format: "int32"
      month:
        type: "integer"
        format: "int32"
      year:
        type: "integer"
        format: "int32"
    example:
      month: 6
      year: 1
      day: 0
  Simulation:
    type: "object"
    properties:
      gridId:
        type: "string"
      duration:
        $ref: "#/definitions/Duration"
      thresholdLow:
        type: "number"
        format: "float"
        description: "Lower threshold in % for voltage error"
      thresholdMedium:
        type: "number"
        format: "float"
        description: "Medium threshold in % for voltage error"
      thresholdHigh:
        type: "number"
        format: "float"
        description: "Maximum threshold in % for voltage error"
    example:
      duration:
        month: 6
        year: 1
        day: 0
      thresholdMedium: 5.63737699999999986033571985899470746517181396484375
      gridId: "gridId"
      thresholdHigh: 2.30213599999999996015276337857358157634735107421875
      thresholdLow: 5.96213399999999982270537657313980162143707275390625
  SimulationResult:
    type: "object"
    required:
    - "nodeId"
    - "voltage"
    properties:
      nodeId:
        type: "string"
      voltage:
        $ref: "#/definitions/Voltage"
      error:
        $ref: "#/definitions/Error"
    example:
      error:
        voltageT: true
        voltageR: true
        voltageS: true
      nodeId: "nodeId"
      voltage:
        voltageT: 1.46581298050294517310021547018550336360931396484375
        voltageR: 0.80082819046101150206595775671303272247314453125
        voltageS: 6.02745618307040320615897144307382404804229736328125
  Voltage:
    type: "object"
    properties:
      voltageR:
        type: "number"
      voltageS:
        type: "number"
      voltageT:
        type: "number"
    example:
      voltageT: 1.46581298050294517310021547018550336360931396484375
      voltageR: 0.80082819046101150206595775671303272247314453125
      voltageS: 6.02745618307040320615897144307382404804229736328125
  Error:
    type: "object"
    properties:
      voltageR:
        type: "boolean"
      voltageS:
        type: "boolean"
      voltageT:
        type: "boolean"
    example:
      voltageT: true
      voltageR: true
      voltageS: true
  Linecode_R_Matrix:
    properties:
      phase_R:
        $ref: "#/definitions/Impedance"
      phase_S:
        $ref: "#/definitions/Impedance"
      phase_T:
        $ref: "#/definitions/Impedance"
  Transformer_wdgs:
    properties:
      struct:
        type: "array"
        items:
          $ref: "#/definitions/Winding"
  Transformer_regcontrol:
    properties:
      struct:
        type: "array"
        items:
          $ref: "#/definitions/RegControl"
externalDocs:
  description: "Find out more about Storage4Grid"
  url: "http://www.storage4grid.eu/pages/index.html"
