---
swagger: "2.0"
info:
  description: "Sample version of DSF-SE API for communication with the professional\
    \ UI"
  version: "0.0.4"
  title: "DSF-SE API"
  contact:
    email: "sisay.adugna.chala@fit.fraunhofer.de"
host: "simplon.fit.fraunhofer.de"
basePath: "/se"
tags:
- name: "grid"
  description: "Grid topology"
- name: "radial"
  description: "Radial"
- name: "commands"
  description: "Commands for the simulation engine"
schemes:
- "http"
paths:
  /radial:
    post:
      tags:
      - "radial"
      summary: "Send a single radial to the simulation engine for simulation"
      operationId: "add_radial"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Radial to be simulated"
        required: true
        schema:
          $ref: "#/definitions/Radial"
      responses:
        default:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.radial_controller"
  /radial/{radialId}:
    put:
      tags:
      - "radial"
      summary: "Update a single radial"
      operationId: "update_radial"
      produces:
      - "application/json"
      parameters:
      - name: "radialId"
        in: "path"
        description: "Id of the radial"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated"
        required: true
        schema:
          $ref: "#/definitions/Radial"
      responses:
        default:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.radial_controller"
    delete:
      tags:
      - "radial"
      summary: "Delete a radial"
      operationId: "delete_radial"
      produces:
      - "application/json"
      parameters:
      - name: "radialId"
        in: "path"
        description: "Id of the radial"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.radial_controller"
  /commands/run:
    post:
      tags:
      - "commands"
      summary: "Runs a simulation"
      description: ""
      operationId: "run_simulation"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Run a simulation"
        required: true
        schema:
          $ref: "#/definitions/Simulation"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SimulationResult"
        400:
          description: "Invalid user supplied"
        404:
          description: "User not found"
      x-swagger-router-controller: "swagger_server.controllers.commands_controller"
  /commands/abort:
    get:
      tags:
      - "commands"
      summary: "Aborts a running simulation"
      description: "If the user of the professional GUI decides to abort a running\
        \ simulation this call will be triggered"
      operationId: "abort_simulation"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.commands_controller"
definitions:
  Location:
    type: "object"
    properties:
      name:
        type: "string"
        description: "A textual identifier for the location e.g. Fur, Bolzano"
      coordinates:
        $ref: "#/definitions/Coordinates"
      transformers:
        type: "array"
        items:
          $ref: "#/definitions/Transformer"
  Radial:
    type: "object"
    properties:
      radialId:
        type: "string"
      nodes:
        type: "array"
        items:
          $ref: "#/definitions/Node"
      transformer:
        type: "array"
        items:
          $ref: "#/definitions/Transformer"
      loads:
        type: "array"
        items:
          $ref: "#/definitions/Load"
      powerLines:
        type: "array"
        items:
          $ref: "#/definitions/Powerline"
      photovoltaics:
        type: "array"
        items:
          $ref: "#/definitions/Photovoltaic"
      storageUnits:
        type: "array"
        items:
          $ref: "#/definitions/Storage"
      chargingPoints:
        type: "array"
        items:
          $ref: "#/definitions/ChargingPoint"
      linecode:
        type: "array"
        items:
          $ref: "#/definitions/Linecode"
      xycurves:
        type: "array"
        items:
          $ref: "#/definitions/XYCurve"
      loadshapes:
        type: "array"
        items:
          $ref: "#/definitions/Loadshape"
      tshapes:
        type: "array"
        items:
          $ref: "#/definitions/Tshape"
    example:
      xycurves:
      - xarray:
        - 0.202532411323639305322785730822943150997161865234375
        - 0.202532411323639305322785730822943150997161865234375
        npts: 4
        yarray:
        - 6.6284642750877420525057459599338471889495849609375
        - 6.6284642750877420525057459599338471889495849609375
        id: "id"
      - xarray:
        - 0.202532411323639305322785730822943150997161865234375
        - 0.202532411323639305322785730822943150997161865234375
        npts: 4
        yarray:
        - 6.6284642750877420525057459599338471889495849609375
        - 6.6284642750877420525057459599338471889495849609375
        id: "id"
      linecode:
      - x1: 5.5332583970349862312332334113307297229766845703125
        id: "id"
        units: "units"
        c0: 3
        r1: 7.04836565559697003635619694250635802745819091796875
      - x1: 5.5332583970349862312332334113307297229766845703125
        id: "id"
        units: "units"
        c0: 3
        r1: 7.04836565559697003635619694250635802745819091796875
      tshapes:
      - npts: 7
        temp:
        - 0.8774076871421565559927557842456735670566558837890625
        - 0.8774076871421565559927557842456735670566558837890625
        interval: 9
        id: "id"
      - npts: 7
        temp:
        - 0.8774076871421565559927557842456735670566558837890625
        - 0.8774076871421565559927557842456735670566558837890625
        interval: 9
        id: "id"
      nodes:
      - coordinates:
          latitude: 0
          longitude: 6
        id: "id"
      - coordinates:
          latitude: 0
          longitude: 6
        id: "id"
      loadshapes:
      - npts: 4
        mult:
        - 4.67894798900584873990737833082675933837890625
        - 4.67894798900584873990737833082675933837890625
        interval: 1
        id: "id"
      - npts: 4
        mult:
        - 4.67894798900584873990737833082675933837890625
        - 4.67894798900584873990737833082675933837890625
        interval: 1
        id: "id"
      radialId: "radialId"
      transformer:
      - bus: "bus"
        voltagePrimary: 9.301444243932575517419536481611430644989013671875
        Xeq: 6.8468526983526398765889098285697400569915771484375
        unitpower: "unitpower"
        radials:
        - null
        - null
        nodeLV: "nodeLV"
        voltageunit: "voltageunit"
        frequency: 9
        nodeHV: "nodeHV"
        noLoadLoss: 1.024645700144157789424070870154537260532379150390625
        connection: "wye"
        id: "id"
        phases: 0
        tapLevel: 5.02500479152029466689555192715488374233245849609375
        voltageSecondary: 3.61607674925191080461672754609026014804840087890625
        coordinates:
          latitude: 0
          longitude: 6
        kvs:
        - 5.962133916683182377482808078639209270477294921875
        - 5.962133916683182377482808078639209270477294921875
        monitor: 1
        control: 4
        kv: 7.061401241503109105224211816675961017608642578125
        voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
        kvas:
        - 5.63737665663332876420099637471139430999755859375
        - 5.63737665663332876420099637471139430999755859375
        winding: 6
        voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
        wdg: 2
        xhl: 1.46581298050294517310021547018550336360931396484375
        powerPrimary: 7
        powerSecondary: 1
        CeqTotal: 7.4577447736837658709418974467553198337554931640625
        Req: 1.489415909854170383397331534069962799549102783203125
      - bus: "bus"
        voltagePrimary: 9.301444243932575517419536481611430644989013671875
        Xeq: 6.8468526983526398765889098285697400569915771484375
        unitpower: "unitpower"
        radials:
        - null
        - null
        nodeLV: "nodeLV"
        voltageunit: "voltageunit"
        frequency: 9
        nodeHV: "nodeHV"
        noLoadLoss: 1.024645700144157789424070870154537260532379150390625
        connection: "wye"
        id: "id"
        phases: 0
        tapLevel: 5.02500479152029466689555192715488374233245849609375
        voltageSecondary: 3.61607674925191080461672754609026014804840087890625
        coordinates:
          latitude: 0
          longitude: 6
        kvs:
        - 5.962133916683182377482808078639209270477294921875
        - 5.962133916683182377482808078639209270477294921875
        monitor: 1
        control: 4
        kv: 7.061401241503109105224211816675961017608642578125
        voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
        kvas:
        - 5.63737665663332876420099637471139430999755859375
        - 5.63737665663332876420099637471139430999755859375
        winding: 6
        voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
        wdg: 2
        xhl: 1.46581298050294517310021547018550336360931396484375
        powerPrimary: 7
        powerSecondary: 1
        CeqTotal: 7.4577447736837658709418974467553198337554931640625
        Req: 1.489415909854170383397331534069962799549102783203125
      loads:
      - node: "node"
        powerfactor: 0.6438423552598546706349225132726132869720458984375
        power_profile: ""
        id: "id"
        phases: 8
        voltage: 9.0183481860707832566959041287191212177276611328125
      - node: "node"
        powerfactor: 0.6438423552598546706349225132726132869720458984375
        power_profile: ""
        id: "id"
        phases: 8
        voltage: 9.0183481860707832566959041287191212177276611328125
      storageUnits:
      - inverterEfficiency: 4.6523964329332461176136348512955009937286376953125
        SoC: 0.885137473901165261480628032586537301540374755859375
        powerunit: "powerunit"
        SoH: 6.51918095101838179772357761976309120655059814453125
        voltageunit: "voltageunit"
        voltage: 7.7403518187411730622216055053286254405975341796875
        node: "node"
        powerfactor: 3.05761002410493443193217899533919990062713623046875
        DoD: 7.05877035158235610623478351044468581676483154296875
        id: "id"
        power: 3.02057969929162428712743349024094641208648681640625
        phases: 8
        energy: 0.10263654006109401706225980888120830059051513671875
      - inverterEfficiency: 4.6523964329332461176136348512955009937286376953125
        SoC: 0.885137473901165261480628032586537301540374755859375
        powerunit: "powerunit"
        SoH: 6.51918095101838179772357761976309120655059814453125
        voltageunit: "voltageunit"
        voltage: 7.7403518187411730622216055053286254405975341796875
        node: "node"
        powerfactor: 3.05761002410493443193217899533919990062713623046875
        DoD: 7.05877035158235610623478351044468581676483154296875
        id: "id"
        power: 3.02057969929162428712743349024094641208648681640625
        phases: 8
        energy: 0.10263654006109401706225980888120830059051513671875
      powerLines:
      - linecode: "linecode"
        node2: "node2"
        CeqTot: 1.2846590061165319429647979632136411964893341064453125
        Xeq: 6.96511769763884558415156789124011993408203125
        length: 6.77832496304801335185175048536621034145355224609375
        id: "id"
        node1: "node1"
        phases: 2
        unitlength: "unitlength"
        Req: 3.557195227068097320710649000830017030239105224609375
      - linecode: "linecode"
        node2: "node2"
        CeqTot: 1.2846590061165319429647979632136411964893341064453125
        Xeq: 6.96511769763884558415156789124011993408203125
        length: 6.77832496304801335185175048536621034145355224609375
        id: "id"
        node1: "node1"
        phases: 2
        unitlength: "unitlength"
        Req: 3.557195227068097320710649000830017030239105224609375
      chargingPoints:
      - node: "node"
        id: "id"
      - node: "node"
        id: "id"
      photovoltaics:
      - effcurve: "effcurve"
        inverterEfficiency: 6.87805222012787620400331434211693704128265380859375
        tdaily: "tdaily"
        powerunit: "powerunit"
        voltageunit: "voltageunit"
        voltage: 3.093745262666447448651751983561553061008453369140625
        node: "node"
        powerfactor: 3.35319334701124294184637619764544069766998291015625
        pf: 7.14353804701230643559028976596891880035400390625
        daily: "daily"
        id: "id"
        power: 6.70401929795003592715829654480330646038055419921875
        ptcurve: "ptcurve"
        phases: 5
        bus1: "bus1"
      - effcurve: "effcurve"
        inverterEfficiency: 6.87805222012787620400331434211693704128265380859375
        tdaily: "tdaily"
        powerunit: "powerunit"
        voltageunit: "voltageunit"
        voltage: 3.093745262666447448651751983561553061008453369140625
        node: "node"
        powerfactor: 3.35319334701124294184637619764544069766998291015625
        pf: 7.14353804701230643559028976596891880035400390625
        daily: "daily"
        id: "id"
        power: 6.70401929795003592715829654480330646038055419921875
        ptcurve: "ptcurve"
        phases: 5
        bus1: "bus1"
    xml:
      name: "Grid"
  Node:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
      coordinates:
        $ref: "#/definitions/Coordinates"
    example:
      coordinates:
        latitude: 0
        longitude: 6
      id: "id"
  Coordinates:
    type: "object"
    properties:
      latitude:
        type: "integer"
      longitude:
        type: "integer"
    example:
      latitude: 0
      longitude: 6
  Load:
    type: "object"
    required:
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      phases:
        type: "integer"
        format: "int32"
      voltage:
        type: "number"
      powerfactor:
        type: "number"
        maximum: 1
      power_profile:
        $ref: "#/definitions/PowerProfile"
    example:
      node: "node"
      powerfactor: 0.6438423552598546706349225132726132869720458984375
      power_profile: ""
      id: "id"
      phases: 8
      voltage: 9.0183481860707832566959041287191212177276611328125
    xml:
      name: "Load"
  PowerProfile:
    type: "array"
    items:
      type: "number"
  Powerline:
    type: "object"
    required:
    - "id"
    - "length"
    - "node1"
    - "node2"
    - "unitlength"
    properties:
      id:
        type: "string"
      node1:
        type: "string"
        description: "ID for the connected node"
      node2:
        type: "string"
        description: "ID for the connected node"
      Req:
        type: "number"
      Xeq:
        type: "number"
      CeqTot:
        type: "number"
      phases:
        type: "integer"
        format: "int32"
      length:
        type: "number"
      unitlength:
        type: "string"
      linecode:
        type: "string"
    example:
      linecode: "linecode"
      node2: "node2"
      CeqTot: 1.2846590061165319429647979632136411964893341064453125
      Xeq: 6.96511769763884558415156789124011993408203125
      length: 6.77832496304801335185175048536621034145355224609375
      id: "id"
      node1: "node1"
      phases: 2
      unitlength: "unitlength"
      Req: 3.557195227068097320710649000830017030239105224609375
    xml:
      name: "Powerline"
  Linecode:
    type: "object"
    required:
    - "c0"
    - "id"
    - "r1"
    - "units"
    - "x1"
    properties:
      id:
        type: "string"
      r1:
        type: "number"
      x1:
        type: "number"
      c0:
        type: "integer"
      units:
        type: "string"
    example:
      x1: 5.5332583970349862312332334113307297229766845703125
      id: "id"
      units: "units"
      c0: 3
      r1: 7.04836565559697003635619694250635802745819091796875
    xml:
      name: "Linecode"
  XYCurve:
    type: "object"
    required:
    - "id"
    - "npts"
    - "xarray"
    - "yarray"
    properties:
      id:
        type: "string"
      npts:
        type: "integer"
      xarray:
        type: "array"
        items:
          type: "number"
      yarray:
        type: "array"
        items:
          type: "number"
    example:
      xarray:
      - 0.202532411323639305322785730822943150997161865234375
      - 0.202532411323639305322785730822943150997161865234375
      npts: 4
      yarray:
      - 6.6284642750877420525057459599338471889495849609375
      - 6.6284642750877420525057459599338471889495849609375
      id: "id"
  Loadshape:
    type: "object"
    required:
    - "id"
    - "interval"
    - "mult"
    - "npts"
    properties:
      id:
        type: "string"
      npts:
        type: "integer"
      interval:
        type: "integer"
      mult:
        type: "array"
        items:
          type: "number"
    example:
      npts: 4
      mult:
      - 4.67894798900584873990737833082675933837890625
      - 4.67894798900584873990737833082675933837890625
      interval: 1
      id: "id"
  Tshape:
    type: "object"
    required:
    - "id"
    - "interval"
    - "npts"
    - "temp"
    properties:
      id:
        type: "string"
      npts:
        type: "integer"
      interval:
        type: "integer"
      temp:
        type: "array"
        items:
          type: "number"
    example:
      npts: 7
      temp:
      - 0.8774076871421565559927557842456735670566558837890625
      - 0.8774076871421565559927557842456735670566558837890625
      interval: 9
      id: "id"
  Storage:
    type: "object"
    required:
    - "DoD"
    - "SoC"
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      SoC:
        type: "number"
      DoD:
        type: "number"
      SoH:
        type: "number"
      energy:
        type: "number"
      inverterEfficiency:
        type: "number"
      phases:
        type: "integer"
      voltage:
        type: "number"
      voltageunit:
        type: "string"
      power:
        type: "number"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"
    example:
      inverterEfficiency: 4.6523964329332461176136348512955009937286376953125
      SoC: 0.885137473901165261480628032586537301540374755859375
      powerunit: "powerunit"
      SoH: 6.51918095101838179772357761976309120655059814453125
      voltageunit: "voltageunit"
      voltage: 7.7403518187411730622216055053286254405975341796875
      node: "node"
      powerfactor: 3.05761002410493443193217899533919990062713623046875
      DoD: 7.05877035158235610623478351044468581676483154296875
      id: "id"
      power: 3.02057969929162428712743349024094641208648681640625
      phases: 8
      energy: 0.10263654006109401706225980888120830059051513671875
  Photovoltaic:
    type: "object"
    required:
    - "bus1"
    - "daily"
    - "effcurve"
    - "id"
    - "node"
    - "pf"
    - "phases"
    - "power"
    - "ptcurve"
    - "voltage"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      inverterEfficiency:
        type: "number"
      phases:
        type: "integer"
      power:
        type: "number"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"
      bus1:
        type: "string"
      voltage:
        type: "number"
      effcurve:
        type: "string"
      ptcurve:
        type: "string"
      daily:
        type: "string"
      tdaily:
        type: "string"
      pf:
        type: "number"
      voltageunit:
        type: "string"
    example:
      effcurve: "effcurve"
      inverterEfficiency: 6.87805222012787620400331434211693704128265380859375
      tdaily: "tdaily"
      powerunit: "powerunit"
      voltageunit: "voltageunit"
      voltage: 3.093745262666447448651751983561553061008453369140625
      node: "node"
      powerfactor: 3.35319334701124294184637619764544069766998291015625
      pf: 7.14353804701230643559028976596891880035400390625
      daily: "daily"
      id: "id"
      power: 6.70401929795003592715829654480330646038055419921875
      ptcurve: "ptcurve"
      phases: 5
      bus1: "bus1"
  ChargingPoint:
    type: "object"
    required:
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
    example:
      node: "node"
      id: "id"
  Transformer:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
      coordinates:
        $ref: "#/definitions/Coordinates"
      radials:
        type: "array"
        items:
          $ref: "#/definitions/Radial"
      phases:
        type: "integer"
        description: "Number of Phases"
      winding:
        type: "integer"
        description: "Number of windings"
      xhl:
        type: "number"
        description: "Percent reactance high-to-low (winding 1 to winding 2)"
      kvs:
        type: "array"
        description: "Array of kV ratings following rules started above for the kV\
          \ file for windings"
        items:
          type: "number"
      kvas:
        type: "array"
        description: "Array of base kVA rating for windings"
        items:
          type: "number"
      wdg:
        type: "integer"
        description: "Integer representing the winding witch will become the active\
          \ winding for subsequent data"
      bus:
        type: "string"
        description: "Definition for the connector of this winding (each winding is\
          \ connected to one terminal of the transformator and, hence, to one bus"
      kv:
        type: "number"
        description: "Rated voltage of this winding, kV"
      voltagePrimary:
        type: "number"
      voltageSecondary:
        type: "number"
      voltageBasePrimary:
        type: "number"
      voltageBaseSecondary:
        type: "number"
      powerPrimary:
        type: "integer"
      powerSecondary:
        type: "integer"
      connection:
        type: "string"
        description: "Connection of this winding."
        default: "wye"
      nodeHV:
        type: "string"
      nodeLV:
        type: "string"
      noLoadLoss:
        type: "number"
      Req:
        type: "number"
      Xeq:
        type: "number"
      CeqTotal:
        type: "number"
      monitor:
        type: "integer"
      control:
        type: "integer"
      tapLevel:
        type: "number"
      voltageunit:
        type: "string"
      frequency:
        type: "integer"
      unitpower:
        type: "string"
    example:
      bus: "bus"
      voltagePrimary: 9.301444243932575517419536481611430644989013671875
      Xeq: 6.8468526983526398765889098285697400569915771484375
      unitpower: "unitpower"
      radials:
      - null
      - null
      nodeLV: "nodeLV"
      voltageunit: "voltageunit"
      frequency: 9
      nodeHV: "nodeHV"
      noLoadLoss: 1.024645700144157789424070870154537260532379150390625
      connection: "wye"
      id: "id"
      phases: 0
      tapLevel: 5.02500479152029466689555192715488374233245849609375
      voltageSecondary: 3.61607674925191080461672754609026014804840087890625
      coordinates:
        latitude: 0
        longitude: 6
      kvs:
      - 5.962133916683182377482808078639209270477294921875
      - 5.962133916683182377482808078639209270477294921875
      monitor: 1
      control: 4
      kv: 7.061401241503109105224211816675961017608642578125
      voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
      kvas:
      - 5.63737665663332876420099637471139430999755859375
      - 5.63737665663332876420099637471139430999755859375
      winding: 6
      voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
      wdg: 2
      xhl: 1.46581298050294517310021547018550336360931396484375
      powerPrimary: 7
      powerSecondary: 1
      CeqTotal: 7.4577447736837658709418974467553198337554931640625
      Req: 1.489415909854170383397331534069962799549102783203125
  Duration:
    type: "object"
    properties:
      day:
        type: "integer"
        format: "int32"
      month:
        type: "integer"
        format: "int32"
      year:
        type: "integer"
        format: "int32"
    example:
      month: 6
      year: 1
      day: 0
  Simulation:
    type: "object"
    properties:
      gridId:
        type: "string"
      duration:
        $ref: "#/definitions/Duration"
      thresholdLow:
        type: "number"
        format: "float"
        description: "Lower threshold in % for voltage error"
      thresholdMedium:
        type: "number"
        format: "float"
        description: "Medium threshold in % for voltage error"
      thresholdHigh:
        type: "number"
        format: "float"
        description: "Maximum threshold in % for voltage error"
    example:
      duration:
        month: 6
        year: 1
        day: 0
      thresholdMedium: 5.63737699999999986033571985899470746517181396484375
      gridId: "gridId"
      thresholdHigh: 2.30213599999999996015276337857358157634735107421875
      thresholdLow: 5.96213399999999982270537657313980162143707275390625
  SimulationResult:
    type: "object"
    required:
    - "nodeId"
    - "voltage"
    properties:
      nodeId:
        type: "string"
      voltage:
        $ref: "#/definitions/Voltage"
      error:
        $ref: "#/definitions/Error"
    example:
      error:
        voltageT: true
        voltageR: true
        voltageS: true
      nodeId: "nodeId"
      voltage:
        voltageT: 1
        voltageR: 0
        voltageS: 6
  Voltage:
    type: "object"
    properties:
      voltageR:
        type: "integer"
        format: "int64"
      voltageS:
        type: "integer"
        format: "int64"
      voltageT:
        type: "integer"
        format: "int64"
    example:
      voltageT: 1
      voltageR: 0
      voltageS: 6
  Error:
    type: "object"
    properties:
      voltageR:
        type: "boolean"
      voltageS:
        type: "boolean"
      voltageT:
        type: "boolean"
    example:
      voltageT: true
      voltageR: true
      voltageS: true
externalDocs:
  description: "Find out more about Storage4Grid"
  url: "http://www.storage4grid.eu/pages/index.html"
