---
swagger: "2.0"
info:
  description: "Sample version of DSF-SE API for communication with the professional\
    \ UI"
  version: "0.0.6"
  title: "DSF-SE API"
  contact:
    email: "sisay.adugna.chala@fit.fraunhofer.de"
host: "simplon.fit.fraunhofer.de"
basePath: "/se"
tags:
- name: "simulation"
  description: "Simulation"
- name: "commands"
  description: "Commands for the simulation engine"
schemes:
- "http"
paths:
  /simulation:
    post:
      tags:
      - "simulation"
      summary: "Send grid data to simulation engine in order to create a new simulation"
      operationId: "create_simulation"
      parameters:
      - in: "body"
        name: "body"
        description: "Grid to be simulated"
        required: true
        schema:
          $ref: "#/definitions/Grid"
      responses:
        200:
          description: "ID of the created simulation"
          schema:
            type: "string"
      x-swagger-router-controller: "swagger_server.controllers.simulation_controller"
  /simulation/{id}:
    put:
      tags:
      - "simulation"
      summary: "Send new data to an existing simulation"
      operationId: "update_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated grid data"
        required: true
        schema:
          $ref: "#/definitions/Grid"
      responses:
        default:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.simulation_controller"
    delete:
      tags:
      - "simulation"
      summary: "Delete a simulation and its data"
      operationId: "delete_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.simulation_controller"
  /commands/run/{id}:
    post:
      tags:
      - "commands"
      summary: "Runs a simulation"
      description: "Runs a simulation"
      operationId: "run_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation that should be started"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Configuration data for the simulation e.g. duration"
        required: true
        schema:
          $ref: "#/definitions/Simulation"
      responses:
        200:
          description: "Results of successful simulation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SimulationResult"
        400:
          description: "Invalid simulation configuration data supplied"
        404:
          description: "Simulation ID not found"
      x-swagger-router-controller: "swagger_server.controllers.commands_controller"
  /commands/abort/{id}:
    post:
      tags:
      - "commands"
      summary: "Aborts a running simulation"
      description: "If the user of the professional GUI decides to abort a running\
        \ simulation this call will be triggered"
      operationId: "abort_simulation"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of the simulation that should be aborted"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.commands_controller"
definitions:
  Grid:
    type: "object"
    properties:
      radials:
        type: "array"
        items:
          $ref: "#/definitions/Radial"
    example:
      radials:
      - xycurves:
        - xarray:
          - 3.258856561904760695824734284542500972747802734375
          - 3.258856561904760695824734284542500972747802734375
          npts: 5.5332583970349862312332334113307297229766845703125
          yarray:
          - 4.078845849666752343409825698472559452056884765625
          - 4.078845849666752343409825698472559452056884765625
          id: "id"
        - xarray:
          - 3.258856561904760695824734284542500972747802734375
          - 3.258856561904760695824734284542500972747802734375
          npts: 5.5332583970349862312332334113307297229766845703125
          yarray:
          - 4.078845849666752343409825698472559452056884765625
          - 4.078845849666752343409825698472559452056884765625
          id: "id"
        linecode:
        - x1: 3.05761002410493443193217899533919990062713623046875
          id: "id"
          units: "units"
          c0: 7.04836565559697003635619694250635802745819091796875
          r1: 3.02057969929162428712743349024094641208648681640625
        - x1: 3.05761002410493443193217899533919990062713623046875
          id: "id"
          units: "units"
          c0: 7.04836565559697003635619694250635802745819091796875
          r1: 3.02057969929162428712743349024094641208648681640625
        tshapes:
        - npts: 1.0414449161182959269211778519093059003353118896484375
          temp:
          - 7.26052126480210358039357743109576404094696044921875
          - 7.26052126480210358039357743109576404094696044921875
          interval: 4.67894798900584873990737833082675933837890625
          id: "id"
        - npts: 1.0414449161182959269211778519093059003353118896484375
          temp:
          - 7.26052126480210358039357743109576404094696044921875
          - 7.26052126480210358039357743109576404094696044921875
          interval: 4.67894798900584873990737833082675933837890625
          id: "id"
        nodes:
        - id: "id"
        - id: "id"
        loadshapes:
        - npts: 0.202532411323639305322785730822943150997161865234375
          mult:
          - 4.258773108174356281097061582840979099273681640625
          - 4.258773108174356281097061582840979099273681640625
          interval: 6.6284642750877420525057459599338471889495849609375
          id: "id"
        - npts: 0.202532411323639305322785730822943150997161865234375
          mult:
          - 4.258773108174356281097061582840979099273681640625
          - 4.258773108174356281097061582840979099273681640625
          interval: 6.6284642750877420525057459599338471889495849609375
          id: "id"
        radialId: "radialId"
        transformer:
        - bus: "bus"
          voltagePrimary: 9.301444243932575517419536481611430644989013671875
          Xeq: 6.8468526983526398765889098285697400569915771484375
          unitpower: "unitpower"
          radials:
          - "radials"
          - "radials"
          nodeLV: "nodeLV"
          voltageunit: "voltageunit"
          frequency: 9.965781217890562260208753286860883235931396484375
          nodeHV: "nodeHV"
          noLoadLoss: 1.024645700144157789424070870154537260532379150390625
          connection: "wye"
          id: "id"
          phases: 0
          tapLevel: 5.02500479152029466689555192715488374233245849609375
          voltageSecondary: 3.61607674925191080461672754609026014804840087890625
          kvs:
          - 5.962133916683182377482808078639209270477294921875
          - 5.962133916683182377482808078639209270477294921875
          monitor: 1.173074250955943309548956676735542714595794677734375
          control: 4.9652184929849543237878606305457651615142822265625
          kv: 7.061401241503109105224211816675961017608642578125
          voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
          kvas:
          - 5.63737665663332876420099637471139430999755859375
          - 5.63737665663332876420099637471139430999755859375
          winding: 6
          voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
          wdg: 2
          xhl: 1.46581298050294517310021547018550336360931396484375
          powerPrimary: 7.3862819483858839220147274318151175975799560546875
          powerSecondary: 1.231513536777255612975068288506008684635162353515625
          CeqTotal: 7.4577447736837658709418974467553198337554931640625
          Req: 1.489415909854170383397331534069962799549102783203125
        - bus: "bus"
          voltagePrimary: 9.301444243932575517419536481611430644989013671875
          Xeq: 6.8468526983526398765889098285697400569915771484375
          unitpower: "unitpower"
          radials:
          - "radials"
          - "radials"
          nodeLV: "nodeLV"
          voltageunit: "voltageunit"
          frequency: 9.965781217890562260208753286860883235931396484375
          nodeHV: "nodeHV"
          noLoadLoss: 1.024645700144157789424070870154537260532379150390625
          connection: "wye"
          id: "id"
          phases: 0
          tapLevel: 5.02500479152029466689555192715488374233245849609375
          voltageSecondary: 3.61607674925191080461672754609026014804840087890625
          kvs:
          - 5.962133916683182377482808078639209270477294921875
          - 5.962133916683182377482808078639209270477294921875
          monitor: 1.173074250955943309548956676735542714595794677734375
          control: 4.9652184929849543237878606305457651615142822265625
          kv: 7.061401241503109105224211816675961017608642578125
          voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
          kvas:
          - 5.63737665663332876420099637471139430999755859375
          - 5.63737665663332876420099637471139430999755859375
          winding: 6
          voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
          wdg: 2
          xhl: 1.46581298050294517310021547018550336360931396484375
          powerPrimary: 7.3862819483858839220147274318151175975799560546875
          powerSecondary: 1.231513536777255612975068288506008684635162353515625
          CeqTotal: 7.4577447736837658709418974467553198337554931640625
          Req: 1.489415909854170383397331534069962799549102783203125
        loads:
        - node: "node"
          powerfactor: 0.87620420127490017403459887646022252738475799560546875
          power_profile: ""
          id: "id"
          phases: 9
          voltage: 6.683562403749608193948006373830139636993408203125
        - node: "node"
          powerfactor: 0.87620420127490017403459887646022252738475799560546875
          power_profile: ""
          id: "id"
          phases: 9
          voltage: 6.683562403749608193948006373830139636993408203125
        storageUnits:
        - inverterEfficiency: 6.51918095101838179772357761976309120655059814453125
          SoC: 3.093745262666447448651751983561553061008453369140625
          powerunit: "powerunit"
          SoH: 0.885137473901165261480628032586537301540374755859375
          voltageunit: "voltageunit"
          voltage: 4.6523964329332461176136348512955009937286376953125
          node: "node"
          powerfactor: 7.7403518187411730622216055053286254405975341796875
          DoD: 7.14353804701230643559028976596891880035400390625
          id: "id"
          power: 8.9695787981969115065794539987109601497650146484375
          phases: 0
          energy: 7.05877035158235610623478351044468581676483154296875
        - inverterEfficiency: 6.51918095101838179772357761976309120655059814453125
          SoC: 3.093745262666447448651751983561553061008453369140625
          powerunit: "powerunit"
          SoH: 0.885137473901165261480628032586537301540374755859375
          voltageunit: "voltageunit"
          voltage: 4.6523964329332461176136348512955009937286376953125
          node: "node"
          powerfactor: 7.7403518187411730622216055053286254405975341796875
          DoD: 7.14353804701230643559028976596891880035400390625
          id: "id"
          power: 8.9695787981969115065794539987109601497650146484375
          phases: 0
          energy: 7.05877035158235610623478351044468581676483154296875
        powerLines:
        - linecode: "linecode"
          node2: "node2"
          CeqTot: 3.557195227068097320710649000830017030239105224609375
          Xeq: 6.438423552598546706349225132726132869720458984375
          length: 1.2846590061165319429647979632136411964893341064453125
          id: "id"
          node1: "node1"
          phases: 6
          unitlength: "unitlength"
          Req: 9.0183481860707832566959041287191212177276611328125
        - linecode: "linecode"
          node2: "node2"
          CeqTot: 3.557195227068097320710649000830017030239105224609375
          Xeq: 6.438423552598546706349225132726132869720458984375
          length: 1.2846590061165319429647979632136411964893341064453125
          id: "id"
          node1: "node1"
          phases: 6
          unitlength: "unitlength"
          Req: 9.0183481860707832566959041287191212177276611328125
        chargingPoints:
        - node: "node"
          id: "id"
        - node: "node"
          id: "id"
        photovoltaics:
        - effcurve: "effcurve"
          inverterEfficiency: 2.884162126668780246063761296682059764862060546875
          tdaily: "tdaily"
          powerunit: "powerunit"
          voltageunit: "voltageunit"
          voltage: 6.70401929795003592715829654480330646038055419921875
          node: "node"
          powerfactor: 5.94489560761401580890606055618263781070709228515625
          pf: 3.35319334701124294184637619764544069766998291015625
          daily: "daily"
          id: "id"
          power: 6.87805222012787620400331434211693704128265380859375
          ptcurve: "ptcurve"
          phases: 6
          bus1: "bus1"
        - effcurve: "effcurve"
          inverterEfficiency: 2.884162126668780246063761296682059764862060546875
          tdaily: "tdaily"
          powerunit: "powerunit"
          voltageunit: "voltageunit"
          voltage: 6.70401929795003592715829654480330646038055419921875
          node: "node"
          powerfactor: 5.94489560761401580890606055618263781070709228515625
          pf: 3.35319334701124294184637619764544069766998291015625
          daily: "daily"
          id: "id"
          power: 6.87805222012787620400331434211693704128265380859375
          ptcurve: "ptcurve"
          phases: 6
          bus1: "bus1"
      - xycurves:
        - xarray:
          - 3.258856561904760695824734284542500972747802734375
          - 3.258856561904760695824734284542500972747802734375
          npts: 5.5332583970349862312332334113307297229766845703125
          yarray:
          - 4.078845849666752343409825698472559452056884765625
          - 4.078845849666752343409825698472559452056884765625
          id: "id"
        - xarray:
          - 3.258856561904760695824734284542500972747802734375
          - 3.258856561904760695824734284542500972747802734375
          npts: 5.5332583970349862312332334113307297229766845703125
          yarray:
          - 4.078845849666752343409825698472559452056884765625
          - 4.078845849666752343409825698472559452056884765625
          id: "id"
        linecode:
        - x1: 3.05761002410493443193217899533919990062713623046875
          id: "id"
          units: "units"
          c0: 7.04836565559697003635619694250635802745819091796875
          r1: 3.02057969929162428712743349024094641208648681640625
        - x1: 3.05761002410493443193217899533919990062713623046875
          id: "id"
          units: "units"
          c0: 7.04836565559697003635619694250635802745819091796875
          r1: 3.02057969929162428712743349024094641208648681640625
        tshapes:
        - npts: 1.0414449161182959269211778519093059003353118896484375
          temp:
          - 7.26052126480210358039357743109576404094696044921875
          - 7.26052126480210358039357743109576404094696044921875
          interval: 4.67894798900584873990737833082675933837890625
          id: "id"
        - npts: 1.0414449161182959269211778519093059003353118896484375
          temp:
          - 7.26052126480210358039357743109576404094696044921875
          - 7.26052126480210358039357743109576404094696044921875
          interval: 4.67894798900584873990737833082675933837890625
          id: "id"
        nodes:
        - id: "id"
        - id: "id"
        loadshapes:
        - npts: 0.202532411323639305322785730822943150997161865234375
          mult:
          - 4.258773108174356281097061582840979099273681640625
          - 4.258773108174356281097061582840979099273681640625
          interval: 6.6284642750877420525057459599338471889495849609375
          id: "id"
        - npts: 0.202532411323639305322785730822943150997161865234375
          mult:
          - 4.258773108174356281097061582840979099273681640625
          - 4.258773108174356281097061582840979099273681640625
          interval: 6.6284642750877420525057459599338471889495849609375
          id: "id"
        radialId: "radialId"
        transformer:
        - bus: "bus"
          voltagePrimary: 9.301444243932575517419536481611430644989013671875
          Xeq: 6.8468526983526398765889098285697400569915771484375
          unitpower: "unitpower"
          radials:
          - "radials"
          - "radials"
          nodeLV: "nodeLV"
          voltageunit: "voltageunit"
          frequency: 9.965781217890562260208753286860883235931396484375
          nodeHV: "nodeHV"
          noLoadLoss: 1.024645700144157789424070870154537260532379150390625
          connection: "wye"
          id: "id"
          phases: 0
          tapLevel: 5.02500479152029466689555192715488374233245849609375
          voltageSecondary: 3.61607674925191080461672754609026014804840087890625
          kvs:
          - 5.962133916683182377482808078639209270477294921875
          - 5.962133916683182377482808078639209270477294921875
          monitor: 1.173074250955943309548956676735542714595794677734375
          control: 4.9652184929849543237878606305457651615142822265625
          kv: 7.061401241503109105224211816675961017608642578125
          voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
          kvas:
          - 5.63737665663332876420099637471139430999755859375
          - 5.63737665663332876420099637471139430999755859375
          winding: 6
          voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
          wdg: 2
          xhl: 1.46581298050294517310021547018550336360931396484375
          powerPrimary: 7.3862819483858839220147274318151175975799560546875
          powerSecondary: 1.231513536777255612975068288506008684635162353515625
          CeqTotal: 7.4577447736837658709418974467553198337554931640625
          Req: 1.489415909854170383397331534069962799549102783203125
        - bus: "bus"
          voltagePrimary: 9.301444243932575517419536481611430644989013671875
          Xeq: 6.8468526983526398765889098285697400569915771484375
          unitpower: "unitpower"
          radials:
          - "radials"
          - "radials"
          nodeLV: "nodeLV"
          voltageunit: "voltageunit"
          frequency: 9.965781217890562260208753286860883235931396484375
          nodeHV: "nodeHV"
          noLoadLoss: 1.024645700144157789424070870154537260532379150390625
          connection: "wye"
          id: "id"
          phases: 0
          tapLevel: 5.02500479152029466689555192715488374233245849609375
          voltageSecondary: 3.61607674925191080461672754609026014804840087890625
          kvs:
          - 5.962133916683182377482808078639209270477294921875
          - 5.962133916683182377482808078639209270477294921875
          monitor: 1.173074250955943309548956676735542714595794677734375
          control: 4.9652184929849543237878606305457651615142822265625
          kv: 7.061401241503109105224211816675961017608642578125
          voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
          kvas:
          - 5.63737665663332876420099637471139430999755859375
          - 5.63737665663332876420099637471139430999755859375
          winding: 6
          voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
          wdg: 2
          xhl: 1.46581298050294517310021547018550336360931396484375
          powerPrimary: 7.3862819483858839220147274318151175975799560546875
          powerSecondary: 1.231513536777255612975068288506008684635162353515625
          CeqTotal: 7.4577447736837658709418974467553198337554931640625
          Req: 1.489415909854170383397331534069962799549102783203125
        loads:
        - node: "node"
          powerfactor: 0.87620420127490017403459887646022252738475799560546875
          power_profile: ""
          id: "id"
          phases: 9
          voltage: 6.683562403749608193948006373830139636993408203125
        - node: "node"
          powerfactor: 0.87620420127490017403459887646022252738475799560546875
          power_profile: ""
          id: "id"
          phases: 9
          voltage: 6.683562403749608193948006373830139636993408203125
        storageUnits:
        - inverterEfficiency: 6.51918095101838179772357761976309120655059814453125
          SoC: 3.093745262666447448651751983561553061008453369140625
          powerunit: "powerunit"
          SoH: 0.885137473901165261480628032586537301540374755859375
          voltageunit: "voltageunit"
          voltage: 4.6523964329332461176136348512955009937286376953125
          node: "node"
          powerfactor: 7.7403518187411730622216055053286254405975341796875
          DoD: 7.14353804701230643559028976596891880035400390625
          id: "id"
          power: 8.9695787981969115065794539987109601497650146484375
          phases: 0
          energy: 7.05877035158235610623478351044468581676483154296875
        - inverterEfficiency: 6.51918095101838179772357761976309120655059814453125
          SoC: 3.093745262666447448651751983561553061008453369140625
          powerunit: "powerunit"
          SoH: 0.885137473901165261480628032586537301540374755859375
          voltageunit: "voltageunit"
          voltage: 4.6523964329332461176136348512955009937286376953125
          node: "node"
          powerfactor: 7.7403518187411730622216055053286254405975341796875
          DoD: 7.14353804701230643559028976596891880035400390625
          id: "id"
          power: 8.9695787981969115065794539987109601497650146484375
          phases: 0
          energy: 7.05877035158235610623478351044468581676483154296875
        powerLines:
        - linecode: "linecode"
          node2: "node2"
          CeqTot: 3.557195227068097320710649000830017030239105224609375
          Xeq: 6.438423552598546706349225132726132869720458984375
          length: 1.2846590061165319429647979632136411964893341064453125
          id: "id"
          node1: "node1"
          phases: 6
          unitlength: "unitlength"
          Req: 9.0183481860707832566959041287191212177276611328125
        - linecode: "linecode"
          node2: "node2"
          CeqTot: 3.557195227068097320710649000830017030239105224609375
          Xeq: 6.438423552598546706349225132726132869720458984375
          length: 1.2846590061165319429647979632136411964893341064453125
          id: "id"
          node1: "node1"
          phases: 6
          unitlength: "unitlength"
          Req: 9.0183481860707832566959041287191212177276611328125
        chargingPoints:
        - node: "node"
          id: "id"
        - node: "node"
          id: "id"
        photovoltaics:
        - effcurve: "effcurve"
          inverterEfficiency: 2.884162126668780246063761296682059764862060546875
          tdaily: "tdaily"
          powerunit: "powerunit"
          voltageunit: "voltageunit"
          voltage: 6.70401929795003592715829654480330646038055419921875
          node: "node"
          powerfactor: 5.94489560761401580890606055618263781070709228515625
          pf: 3.35319334701124294184637619764544069766998291015625
          daily: "daily"
          id: "id"
          power: 6.87805222012787620400331434211693704128265380859375
          ptcurve: "ptcurve"
          phases: 6
          bus1: "bus1"
        - effcurve: "effcurve"
          inverterEfficiency: 2.884162126668780246063761296682059764862060546875
          tdaily: "tdaily"
          powerunit: "powerunit"
          voltageunit: "voltageunit"
          voltage: 6.70401929795003592715829654480330646038055419921875
          node: "node"
          powerfactor: 5.94489560761401580890606055618263781070709228515625
          pf: 3.35319334701124294184637619764544069766998291015625
          daily: "daily"
          id: "id"
          power: 6.87805222012787620400331434211693704128265380859375
          ptcurve: "ptcurve"
          phases: 6
          bus1: "bus1"
  Radial:
    type: "object"
    properties:
      radialId:
        type: "string"
      nodes:
        type: "array"
        items:
          $ref: "#/definitions/Node"
      transformer:
        type: "array"
        items:
          $ref: "#/definitions/Transformer"
      loads:
        type: "array"
        items:
          $ref: "#/definitions/Load"
      powerLines:
        type: "array"
        items:
          $ref: "#/definitions/Powerline"
      photovoltaics:
        type: "array"
        items:
          $ref: "#/definitions/Photovoltaic"
      storageUnits:
        type: "array"
        items:
          $ref: "#/definitions/Storage"
      chargingPoints:
        type: "array"
        items:
          $ref: "#/definitions/ChargingPoint"
      linecode:
        type: "array"
        items:
          $ref: "#/definitions/Linecode"
      xycurves:
        type: "array"
        items:
          $ref: "#/definitions/XYCurve"
      loadshapes:
        type: "array"
        items:
          $ref: "#/definitions/Loadshape"
      tshapes:
        type: "array"
        items:
          $ref: "#/definitions/Tshape"
    example:
      xycurves:
      - xarray:
        - 3.258856561904760695824734284542500972747802734375
        - 3.258856561904760695824734284542500972747802734375
        npts: 5.5332583970349862312332334113307297229766845703125
        yarray:
        - 4.078845849666752343409825698472559452056884765625
        - 4.078845849666752343409825698472559452056884765625
        id: "id"
      - xarray:
        - 3.258856561904760695824734284542500972747802734375
        - 3.258856561904760695824734284542500972747802734375
        npts: 5.5332583970349862312332334113307297229766845703125
        yarray:
        - 4.078845849666752343409825698472559452056884765625
        - 4.078845849666752343409825698472559452056884765625
        id: "id"
      linecode:
      - x1: 3.05761002410493443193217899533919990062713623046875
        id: "id"
        units: "units"
        c0: 7.04836565559697003635619694250635802745819091796875
        r1: 3.02057969929162428712743349024094641208648681640625
      - x1: 3.05761002410493443193217899533919990062713623046875
        id: "id"
        units: "units"
        c0: 7.04836565559697003635619694250635802745819091796875
        r1: 3.02057969929162428712743349024094641208648681640625
      tshapes:
      - npts: 1.0414449161182959269211778519093059003353118896484375
        temp:
        - 7.26052126480210358039357743109576404094696044921875
        - 7.26052126480210358039357743109576404094696044921875
        interval: 4.67894798900584873990737833082675933837890625
        id: "id"
      - npts: 1.0414449161182959269211778519093059003353118896484375
        temp:
        - 7.26052126480210358039357743109576404094696044921875
        - 7.26052126480210358039357743109576404094696044921875
        interval: 4.67894798900584873990737833082675933837890625
        id: "id"
      nodes:
      - id: "id"
      - id: "id"
      loadshapes:
      - npts: 0.202532411323639305322785730822943150997161865234375
        mult:
        - 4.258773108174356281097061582840979099273681640625
        - 4.258773108174356281097061582840979099273681640625
        interval: 6.6284642750877420525057459599338471889495849609375
        id: "id"
      - npts: 0.202532411323639305322785730822943150997161865234375
        mult:
        - 4.258773108174356281097061582840979099273681640625
        - 4.258773108174356281097061582840979099273681640625
        interval: 6.6284642750877420525057459599338471889495849609375
        id: "id"
      radialId: "radialId"
      transformer:
      - bus: "bus"
        voltagePrimary: 9.301444243932575517419536481611430644989013671875
        Xeq: 6.8468526983526398765889098285697400569915771484375
        unitpower: "unitpower"
        radials:
        - "radials"
        - "radials"
        nodeLV: "nodeLV"
        voltageunit: "voltageunit"
        frequency: 9.965781217890562260208753286860883235931396484375
        nodeHV: "nodeHV"
        noLoadLoss: 1.024645700144157789424070870154537260532379150390625
        connection: "wye"
        id: "id"
        phases: 0
        tapLevel: 5.02500479152029466689555192715488374233245849609375
        voltageSecondary: 3.61607674925191080461672754609026014804840087890625
        kvs:
        - 5.962133916683182377482808078639209270477294921875
        - 5.962133916683182377482808078639209270477294921875
        monitor: 1.173074250955943309548956676735542714595794677734375
        control: 4.9652184929849543237878606305457651615142822265625
        kv: 7.061401241503109105224211816675961017608642578125
        voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
        kvas:
        - 5.63737665663332876420099637471139430999755859375
        - 5.63737665663332876420099637471139430999755859375
        winding: 6
        voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
        wdg: 2
        xhl: 1.46581298050294517310021547018550336360931396484375
        powerPrimary: 7.3862819483858839220147274318151175975799560546875
        powerSecondary: 1.231513536777255612975068288506008684635162353515625
        CeqTotal: 7.4577447736837658709418974467553198337554931640625
        Req: 1.489415909854170383397331534069962799549102783203125
      - bus: "bus"
        voltagePrimary: 9.301444243932575517419536481611430644989013671875
        Xeq: 6.8468526983526398765889098285697400569915771484375
        unitpower: "unitpower"
        radials:
        - "radials"
        - "radials"
        nodeLV: "nodeLV"
        voltageunit: "voltageunit"
        frequency: 9.965781217890562260208753286860883235931396484375
        nodeHV: "nodeHV"
        noLoadLoss: 1.024645700144157789424070870154537260532379150390625
        connection: "wye"
        id: "id"
        phases: 0
        tapLevel: 5.02500479152029466689555192715488374233245849609375
        voltageSecondary: 3.61607674925191080461672754609026014804840087890625
        kvs:
        - 5.962133916683182377482808078639209270477294921875
        - 5.962133916683182377482808078639209270477294921875
        monitor: 1.173074250955943309548956676735542714595794677734375
        control: 4.9652184929849543237878606305457651615142822265625
        kv: 7.061401241503109105224211816675961017608642578125
        voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
        kvas:
        - 5.63737665663332876420099637471139430999755859375
        - 5.63737665663332876420099637471139430999755859375
        winding: 6
        voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
        wdg: 2
        xhl: 1.46581298050294517310021547018550336360931396484375
        powerPrimary: 7.3862819483858839220147274318151175975799560546875
        powerSecondary: 1.231513536777255612975068288506008684635162353515625
        CeqTotal: 7.4577447736837658709418974467553198337554931640625
        Req: 1.489415909854170383397331534069962799549102783203125
      loads:
      - node: "node"
        powerfactor: 0.87620420127490017403459887646022252738475799560546875
        power_profile: ""
        id: "id"
        phases: 9
        voltage: 6.683562403749608193948006373830139636993408203125
      - node: "node"
        powerfactor: 0.87620420127490017403459887646022252738475799560546875
        power_profile: ""
        id: "id"
        phases: 9
        voltage: 6.683562403749608193948006373830139636993408203125
      storageUnits:
      - inverterEfficiency: 6.51918095101838179772357761976309120655059814453125
        SoC: 3.093745262666447448651751983561553061008453369140625
        powerunit: "powerunit"
        SoH: 0.885137473901165261480628032586537301540374755859375
        voltageunit: "voltageunit"
        voltage: 4.6523964329332461176136348512955009937286376953125
        node: "node"
        powerfactor: 7.7403518187411730622216055053286254405975341796875
        DoD: 7.14353804701230643559028976596891880035400390625
        id: "id"
        power: 8.9695787981969115065794539987109601497650146484375
        phases: 0
        energy: 7.05877035158235610623478351044468581676483154296875
      - inverterEfficiency: 6.51918095101838179772357761976309120655059814453125
        SoC: 3.093745262666447448651751983561553061008453369140625
        powerunit: "powerunit"
        SoH: 0.885137473901165261480628032586537301540374755859375
        voltageunit: "voltageunit"
        voltage: 4.6523964329332461176136348512955009937286376953125
        node: "node"
        powerfactor: 7.7403518187411730622216055053286254405975341796875
        DoD: 7.14353804701230643559028976596891880035400390625
        id: "id"
        power: 8.9695787981969115065794539987109601497650146484375
        phases: 0
        energy: 7.05877035158235610623478351044468581676483154296875
      powerLines:
      - linecode: "linecode"
        node2: "node2"
        CeqTot: 3.557195227068097320710649000830017030239105224609375
        Xeq: 6.438423552598546706349225132726132869720458984375
        length: 1.2846590061165319429647979632136411964893341064453125
        id: "id"
        node1: "node1"
        phases: 6
        unitlength: "unitlength"
        Req: 9.0183481860707832566959041287191212177276611328125
      - linecode: "linecode"
        node2: "node2"
        CeqTot: 3.557195227068097320710649000830017030239105224609375
        Xeq: 6.438423552598546706349225132726132869720458984375
        length: 1.2846590061165319429647979632136411964893341064453125
        id: "id"
        node1: "node1"
        phases: 6
        unitlength: "unitlength"
        Req: 9.0183481860707832566959041287191212177276611328125
      chargingPoints:
      - node: "node"
        id: "id"
      - node: "node"
        id: "id"
      photovoltaics:
      - effcurve: "effcurve"
        inverterEfficiency: 2.884162126668780246063761296682059764862060546875
        tdaily: "tdaily"
        powerunit: "powerunit"
        voltageunit: "voltageunit"
        voltage: 6.70401929795003592715829654480330646038055419921875
        node: "node"
        powerfactor: 5.94489560761401580890606055618263781070709228515625
        pf: 3.35319334701124294184637619764544069766998291015625
        daily: "daily"
        id: "id"
        power: 6.87805222012787620400331434211693704128265380859375
        ptcurve: "ptcurve"
        phases: 6
        bus1: "bus1"
      - effcurve: "effcurve"
        inverterEfficiency: 2.884162126668780246063761296682059764862060546875
        tdaily: "tdaily"
        powerunit: "powerunit"
        voltageunit: "voltageunit"
        voltage: 6.70401929795003592715829654480330646038055419921875
        node: "node"
        powerfactor: 5.94489560761401580890606055618263781070709228515625
        pf: 3.35319334701124294184637619764544069766998291015625
        daily: "daily"
        id: "id"
        power: 6.87805222012787620400331434211693704128265380859375
        ptcurve: "ptcurve"
        phases: 6
        bus1: "bus1"
  Node:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
    example:
      id: "id"
  Load:
    type: "object"
    required:
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      phases:
        type: "integer"
        format: "int32"
      voltage:
        type: "number"
      powerfactor:
        type: "number"
        maximum: 1
      power_profile:
        $ref: "#/definitions/PowerProfile"
    example:
      node: "node"
      powerfactor: 0.87620420127490017403459887646022252738475799560546875
      power_profile: ""
      id: "id"
      phases: 9
      voltage: 6.683562403749608193948006373830139636993408203125
  PowerProfile:
    type: "array"
    items:
      type: "number"
  Powerline:
    type: "object"
    required:
    - "id"
    - "length"
    - "node1"
    - "node2"
    - "unitlength"
    properties:
      id:
        type: "string"
      node1:
        type: "string"
        description: "ID for the connected node"
      node2:
        type: "string"
        description: "ID for the connected node"
      Req:
        type: "number"
      Xeq:
        type: "number"
      CeqTot:
        type: "number"
      phases:
        type: "integer"
        format: "int32"
      length:
        type: "number"
      unitlength:
        type: "string"
      linecode:
        type: "string"
    example:
      linecode: "linecode"
      node2: "node2"
      CeqTot: 3.557195227068097320710649000830017030239105224609375
      Xeq: 6.438423552598546706349225132726132869720458984375
      length: 1.2846590061165319429647979632136411964893341064453125
      id: "id"
      node1: "node1"
      phases: 6
      unitlength: "unitlength"
      Req: 9.0183481860707832566959041287191212177276611328125
  Linecode:
    type: "object"
    required:
    - "c0"
    - "id"
    - "r1"
    - "units"
    - "x1"
    properties:
      id:
        type: "string"
      r1:
        type: "number"
      x1:
        type: "number"
      c0:
        type: "number"
      units:
        type: "string"
    example:
      x1: 3.05761002410493443193217899533919990062713623046875
      id: "id"
      units: "units"
      c0: 7.04836565559697003635619694250635802745819091796875
      r1: 3.02057969929162428712743349024094641208648681640625
  XYCurve:
    type: "object"
    required:
    - "id"
    - "npts"
    - "xarray"
    - "yarray"
    properties:
      id:
        type: "string"
      npts:
        type: "number"
      xarray:
        type: "array"
        items:
          type: "number"
      yarray:
        type: "array"
        items:
          type: "number"
    example:
      xarray:
      - 3.258856561904760695824734284542500972747802734375
      - 3.258856561904760695824734284542500972747802734375
      npts: 5.5332583970349862312332334113307297229766845703125
      yarray:
      - 4.078845849666752343409825698472559452056884765625
      - 4.078845849666752343409825698472559452056884765625
      id: "id"
  Loadshape:
    type: "object"
    required:
    - "id"
    - "interval"
    - "mult"
    - "npts"
    properties:
      id:
        type: "string"
      npts:
        type: "number"
      interval:
        type: "number"
      mult:
        type: "array"
        items:
          type: "number"
    example:
      npts: 0.202532411323639305322785730822943150997161865234375
      mult:
      - 4.258773108174356281097061582840979099273681640625
      - 4.258773108174356281097061582840979099273681640625
      interval: 6.6284642750877420525057459599338471889495849609375
      id: "id"
  Tshape:
    type: "object"
    required:
    - "id"
    - "interval"
    - "npts"
    - "temp"
    properties:
      id:
        type: "string"
      npts:
        type: "number"
      interval:
        type: "number"
      temp:
        type: "array"
        items:
          type: "number"
    example:
      npts: 1.0414449161182959269211778519093059003353118896484375
      temp:
      - 7.26052126480210358039357743109576404094696044921875
      - 7.26052126480210358039357743109576404094696044921875
      interval: 4.67894798900584873990737833082675933837890625
      id: "id"
  Storage:
    type: "object"
    required:
    - "DoD"
    - "SoC"
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      SoC:
        type: "number"
      DoD:
        type: "number"
      SoH:
        type: "number"
      energy:
        type: "number"
      inverterEfficiency:
        type: "number"
      phases:
        type: "integer"
      voltage:
        type: "number"
      voltageunit:
        type: "string"
      power:
        type: "number"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"
    example:
      inverterEfficiency: 6.51918095101838179772357761976309120655059814453125
      SoC: 3.093745262666447448651751983561553061008453369140625
      powerunit: "powerunit"
      SoH: 0.885137473901165261480628032586537301540374755859375
      voltageunit: "voltageunit"
      voltage: 4.6523964329332461176136348512955009937286376953125
      node: "node"
      powerfactor: 7.7403518187411730622216055053286254405975341796875
      DoD: 7.14353804701230643559028976596891880035400390625
      id: "id"
      power: 8.9695787981969115065794539987109601497650146484375
      phases: 0
      energy: 7.05877035158235610623478351044468581676483154296875
  Photovoltaic:
    type: "object"
    required:
    - "bus1"
    - "daily"
    - "effcurve"
    - "id"
    - "node"
    - "pf"
    - "phases"
    - "power"
    - "ptcurve"
    - "voltage"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
      inverterEfficiency:
        type: "number"
      phases:
        type: "integer"
      power:
        type: "number"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"
      bus1:
        type: "string"
      voltage:
        type: "number"
      effcurve:
        type: "string"
      ptcurve:
        type: "string"
      daily:
        type: "string"
      tdaily:
        type: "string"
      pf:
        type: "number"
      voltageunit:
        type: "string"
    example:
      effcurve: "effcurve"
      inverterEfficiency: 2.884162126668780246063761296682059764862060546875
      tdaily: "tdaily"
      powerunit: "powerunit"
      voltageunit: "voltageunit"
      voltage: 6.70401929795003592715829654480330646038055419921875
      node: "node"
      powerfactor: 5.94489560761401580890606055618263781070709228515625
      pf: 3.35319334701124294184637619764544069766998291015625
      daily: "daily"
      id: "id"
      power: 6.87805222012787620400331434211693704128265380859375
      ptcurve: "ptcurve"
      phases: 6
      bus1: "bus1"
  ChargingPoint:
    type: "object"
    required:
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
        description: "ID for the connected node"
    example:
      node: "node"
      id: "id"
  Transformer:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
      radials:
        type: "array"
        items:
          type: "string"
      phases:
        type: "integer"
        description: "Number of Phases"
      winding:
        type: "integer"
        description: "Number of windings"
      xhl:
        type: "number"
        description: "Percent reactance high-to-low (winding 1 to winding 2)"
      kvs:
        type: "array"
        description: "Array of kV ratings following rules started above for the kV\
          \ file for windings"
        items:
          type: "number"
      kvas:
        type: "array"
        description: "Array of base kVA rating for windings"
        items:
          type: "number"
      wdg:
        type: "integer"
        description: "Integer representing the winding witch will become the active\
          \ winding for subsequent data"
      bus:
        type: "string"
        description: "Definition for the connector of this winding (each winding is\
          \ connected to one terminal of the transformator and, hence, to one bus"
      kv:
        type: "number"
        description: "Rated voltage of this winding, kV"
      voltagePrimary:
        type: "number"
      voltageSecondary:
        type: "number"
      voltageBasePrimary:
        type: "number"
      voltageBaseSecondary:
        type: "number"
      powerPrimary:
        type: "number"
      powerSecondary:
        type: "number"
      connection:
        type: "string"
        description: "Connection of this winding."
        default: "wye"
      nodeHV:
        type: "string"
      nodeLV:
        type: "string"
      noLoadLoss:
        type: "number"
      Req:
        type: "number"
      Xeq:
        type: "number"
      CeqTotal:
        type: "number"
      monitor:
        type: "number"
      control:
        type: "number"
      tapLevel:
        type: "number"
      voltageunit:
        type: "string"
      frequency:
        type: "number"
      unitpower:
        type: "string"
    example:
      bus: "bus"
      voltagePrimary: 9.301444243932575517419536481611430644989013671875
      Xeq: 6.8468526983526398765889098285697400569915771484375
      unitpower: "unitpower"
      radials:
      - "radials"
      - "radials"
      nodeLV: "nodeLV"
      voltageunit: "voltageunit"
      frequency: 9.965781217890562260208753286860883235931396484375
      nodeHV: "nodeHV"
      noLoadLoss: 1.024645700144157789424070870154537260532379150390625
      connection: "wye"
      id: "id"
      phases: 0
      tapLevel: 5.02500479152029466689555192715488374233245849609375
      voltageSecondary: 3.61607674925191080461672754609026014804840087890625
      kvs:
      - 5.962133916683182377482808078639209270477294921875
      - 5.962133916683182377482808078639209270477294921875
      monitor: 1.173074250955943309548956676735542714595794677734375
      control: 4.9652184929849543237878606305457651615142822265625
      kv: 7.061401241503109105224211816675961017608642578125
      voltageBaseSecondary: 4.1456080298839363962315474054776132106781005859375
      kvas:
      - 5.63737665663332876420099637471139430999755859375
      - 5.63737665663332876420099637471139430999755859375
      winding: 6
      voltageBasePrimary: 2.027123023002321833274663731572218239307403564453125
      wdg: 2
      xhl: 1.46581298050294517310021547018550336360931396484375
      powerPrimary: 7.3862819483858839220147274318151175975799560546875
      powerSecondary: 1.231513536777255612975068288506008684635162353515625
      CeqTotal: 7.4577447736837658709418974467553198337554931640625
      Req: 1.489415909854170383397331534069962799549102783203125
  Duration:
    type: "object"
    properties:
      day:
        type: "integer"
        format: "int32"
      month:
        type: "integer"
        format: "int32"
      year:
        type: "integer"
        format: "int32"
    example:
      month: 6
      year: 1
      day: 0
  Simulation:
    type: "object"
    properties:
      gridId:
        type: "string"
      duration:
        $ref: "#/definitions/Duration"
      thresholdLow:
        type: "number"
        format: "float"
        description: "Lower threshold in % for voltage error"
      thresholdMedium:
        type: "number"
        format: "float"
        description: "Medium threshold in % for voltage error"
      thresholdHigh:
        type: "number"
        format: "float"
        description: "Maximum threshold in % for voltage error"
    example:
      duration:
        month: 6
        year: 1
        day: 0
      thresholdMedium: 5.637377
      gridId: "gridId"
      thresholdHigh: 2.302136
      thresholdLow: 5.962134
  SimulationResult:
    type: "object"
    required:
    - "nodeId"
    - "voltage"
    properties:
      nodeId:
        type: "string"
      voltage:
        $ref: "#/definitions/Voltage"
      error:
        $ref: "#/definitions/Error"
    example:
      error:
        voltageT: true
        voltageR: true
        voltageS: true
      nodeId: "nodeId"
      voltage:
        voltageT: 1.46581298050294517310021547018550336360931396484375
        voltageR: 0.80082819046101150206595775671303272247314453125
        voltageS: 6.02745618307040320615897144307382404804229736328125
  Voltage:
    type: "object"
    properties:
      voltageR:
        type: "number"
      voltageS:
        type: "number"
      voltageT:
        type: "number"
    example:
      voltageT: 1.46581298050294517310021547018550336360931396484375
      voltageR: 0.80082819046101150206595775671303272247314453125
      voltageS: 6.02745618307040320615897144307382404804229736328125
  Error:
    type: "object"
    properties:
      voltageR:
        type: "boolean"
      voltageS:
        type: "boolean"
      voltageT:
        type: "boolean"
    example:
      voltageT: true
      voltageR: true
      voltageS: true
externalDocs:
  description: "Find out more about Storage4Grid"
  url: "http://www.storage4grid.eu/pages/index.html"
