---
swagger: "2.0"
info:
  description: "Sample version of DSF-SE API for communication with the professional\
    \ UI"
  version: "0.0.2"
  title: "DSF-SE API"
  contact:
    email: "sisay.adugna.chala@fit.fraunhofer.de"
host: "simplon.fit.fraunhofer.de"
basePath: "/se"
tags:
- name: "grid"
  description: "Grid topology"
- name: "commands"
  description: "Commands for the simulation engine"
schemes:
- "http"
paths:
  /grid:
    post:
      tags:
      - "grid"
      summary: "Insert grid components"
      operationId: "create_grid"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created grid. gridID = 0 because it is generated server-side"
        required: true
        schema:
          $ref: "#/definitions/Grid"
      responses:
        default:
          description: "successful operation"
      x-swagger-router-controller: "swagger_server.controllers.grid_controller"
  /grid/{id}:
    get:
      tags:
      - "grid"
      summary: "Get a grid topology"
      description: "Get a grid topology by the coordinates of its entry point transformer"
      operationId: "get_grid"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Id of the grid"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "coordinates"
        description: "The latitude and longitude coordinates for this grids entry\
          \ point"
        required: false
        schema:
          $ref: "#/definitions/Coordinates"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Grid"
        400:
          description: "Invalid parameters supplied"
        404:
          description: "Grid not found"
      x-swagger-router-controller: "swagger_server.controllers.grid_controller"
    put:
      tags:
      - "grid"
      summary: "Updated storage"
      description: ""
      operationId: "update_storage"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Id of the grid"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Updated grid components"
        required: true
        schema:
          $ref: "#/definitions/Grid"
      responses:
        400:
          description: "Invalid storage object supplied"
      x-swagger-router-controller: "swagger_server.controllers.grid_controller"
    delete:
      tags:
      - "grid"
      summary: "Delete storage"
      description: ""
      operationId: "delete_storage"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Id of the grid"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: "Deleted grid components"
        required: true
        schema:
          $ref: "#/definitions/Grid"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Storage not found"
      x-swagger-router-controller: "swagger_server.controllers.grid_controller"
  /commands/run:
    post:
      tags:
      - "commands"
      summary: "Runs a simulation"
      description: ""
      operationId: "run_simulation"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Run a simulation"
        required: true
        schema:
          $ref: "#/definitions/Simulation"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SimulationResult"
        400:
          description: "Invalid user supplied"
        404:
          description: "User not found"
      x-swagger-router-controller: "swagger_server.controllers.commands_controller"
definitions:
  Grid:
    type: "object"
    properties:
      gridId:
        type: "string"
      coordinates:
        $ref: "#/definitions/Coordinates"
      loads:
        type: "array"
        items:
          $ref: "#/definitions/Load"
      transformer:
        $ref: "#/definitions/Transformer"
      powerLines:
        type: "array"
        items:
          $ref: "#/definitions/Powerline"
      linecode:
        type: "array"
        items:
          $ref: "#/definitions/Linecode"
      xycurves:
        type: "array"
        items:
          $ref: "#/definitions/XYCurve"
      loadshapes:
        type: "array"
        items:
          $ref: "#/definitions/Loadshape"
      tshapes:
        type: "array"
        items:
          $ref: "#/definitions/Tshape"
      photovoltaics:
        type: "array"
        items:
          $ref: "#/definitions/Photovoltaic"
      storageUnits:
        type: "array"
        items:
          $ref: "#/definitions/Storage"
      chargingPoints:
        type: "array"
        items:
          $ref: "#/definitions/ChargingPoint"
    xml:
      name: "Grid"

  Node:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
      latitude:
        type: "integer"
      longitude:
        type: "integer"

  Coordinates:
    type: "object"
    properties:
      latitude:
        type: "integer"
      longitude:
        type: "integer"

  Load:
    type: "object"
    required:
    - "id"
    - "node1"
    properties:
      id:
        type: "string"
      node1:
        type: "string"
      phases:
        type: "integer"
        format: "int32"
      voltage:
        type: "number"
      powerfactor:
        type: "number"
        maximum: 1
      power_profile:
        $ref: "#/definitions/PowerProfile"
    xml:
      name: "Load"

  PowerProfile:
    type: "array"
    items:
      type: "number"

  Powerline:
    type: "object"
    required:
    - "id"
    - "length"
    - "node1"
    - "node2"
    - "unitlength"
    properties:
      id:
        type: "string"
      node1:
        type: "string"
      node2:
        type: "string"
      Req:
        type: "number"
      Xeq:
        type: "number"
      CeqTot:
        type: "number"
      phases:
        type: "integer"
        format: "int32"
      length:
        type: "number"
      unitlength:
        type: "string"
      linecode:
        type: "string"
    xml:
      name: "Powerline"

  Linecode:
    type: "object"
    required:
      - "id"
      - "r1"
      - "x1"
      - "c0"
      - "units"
    properties:
      id:
        type: "string"
      r1:
        type: "number"
      x1:
        type: "number"
      c0:
        type: "integer"
      units:
        type: "string"
    xml:
      name: "Linecode"

  XYCurve:
    type: "object"
    required:
      - "id"
      - "npts"
      - "xarray"
      - "yarray"
    properties:
      id:
        type: "string"
      npts:
        type: "integer"
      xarray:
        type: "array"
        items:
          type: "number"
      yarray:
        type: "array"
        items:
          type: "number"

  Loadshape:
    type: "object"
    required:
      - "id"
      - "npts"
      - "interval"
      - "mult"
    properties:
      id:
        type: "string"
      npts:
        type: "integer"
      interval:
        type: "integer"
      mult:
        type: "array"
        items:
          type: "number"

  Tshape:
    type: "object"
    required:
      - "id"
      - "npts"
      - "interval"
      - "temp"
    properties:
      id:
        type: "string"
      npts:
        type: "integer"
      interval:
        type: "integer"
      temp:
        type: "array"
        items:
          type: "number"

  Storage:
    type: "object"
    required:
    - "DoD"
    - "SoC"
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"
      SoC:
        type: "number"
      DoD:
        type: "number"
      SoH:
        type: "number"
      energy:
        type: "number"
      inverterEfficiency:
        type: "number"
      phases:
        type: "integer"
      voltage:
        type: "number"
      voltageunit:
        type: "string"
      power:
        type: "number"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"

  Photovoltaic:
    type: "object"
    required:
    - "id"
    - "phases"
    - "bus1"
    - "voltage"
    - "power"
    - "effcurve"
    - "ptcurve"
    - "daily"
    - "tdaily"
    - "pf"
    properties:
      id:
        type: "string"
      phases:
        type: "integer"
      bus1:
        type: "string"
      voltage:
        type: "number"
      power:
        type: "number"
      effcurve:
        type: "string"
      ptcurve:
        type: "string"
      daily:
        type: "string"
      tdaily:
        type: "string"
      pf:
        type: "number"
      node:
        type: "string"
      inverterEfficiency:
        type: "number"
      voltageunit:
        type: "string"
      powerunit:
        type: "string"
      powerfactor:
        type: "number"

  ChargingPoint:
    type: "object"
    required:
    - "id"
    - "node"
    properties:
      id:
        type: "string"
      node:
        type: "string"

  Transformer:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "string"
      latitude:
        type: "integer"
      longitude:
        type: "integer"
      phases:
        type: "integer"
        description: "Number of Phases"
        default: 3
      winding:
        type: "integer"
        description: "Number of windings"
        default: 2
      xhl:
        type: "number"
        description: "Percent reactance high-to-low (winding 1 to winding 2)"
      kvs:
        type: "array"
        description: "Array of kV ratings following rules started above for the kV file for windings"
        items:
          type: "number"
      kvas:
        type: "array"
        description: "Array of base kVA rating for windings"
        items:
          type: "number"
      wdg:
        type: "integer"
        description: "Integer representing the winding witch will become the active winding for subsequent data"
      bus:
        type: "string"
        description: "Definition for the connector of this winding (each winding is connected to one terminal of the transformator and, hence, to one bus"
      kv:
        type: "number"
        description: "Rated voltage of this winding, kV"
      voltagePrimary:
        type: "number"
      voltageSecondary:
        type: "number"
      voltageBasePrimary:
        type: "number"
      voltageBaseSecondary:
        type: "number"
      powerPrimary:
        type: "integer"
      powerSecondary:
        type: "integer"
      connection:
        type: "string"
        description: "Connection of this winding."
        default: "wye"
      nodeHV:
        type: "string"
      nodeLV:
        type: "string"
      noLoadLoss:
        type: "number"
      Req:
        type: "number"
      Xeq:
        type: "number"
      CeqTotal:
        type: "number"
      monitor:
        type: "integer"
      control:
        type: "integer"
      tapLevel:
        type: "number"
      voltageunit:
        type: "string"
      frequency:
        type: "integer"
      unitpower:
        type: "string"

  Duration:
    type: "object"
    properties:
      day:
        type: "integer"
        format: "int32"
      month:
        type: "integer"
        format: "int32"
      year:
        type: "integer"
        format: "int32"

  Simulation:
    type: "object"
    properties:
      gridId:
        type: "string"
      duration:
        $ref: "#/definitions/Duration"
      thresholdLow:
        type: "number"
        format: "float"
        description: "Lower threshold in % for voltage error"
      thresholdMedium:
        type: "number"
        format: "float"
        description: "Medium threshold in % for voltage error"
      thresholdHigh:
        type: "number"
        format: "float"
        description: "Maximum threshold in % for voltage error"

  SimulationResult:
    type: "object"
    required:
    - "nodeId"
    - "voltage"
    properties:
      nodeId:
        type: "string"
      voltage:
        $ref: "#/definitions/Voltage"
      error:
        $ref: "#/definitions/Error"

  Voltage:
    type: "object"
    properties:
      voltageR:
        type: "integer"
        format: "int64"
      voltageS:
        type: "integer"
        format: "int64"
      voltageT:
        type: "integer"
        format: "int64"

  Error:
    type: "object"
    properties:
      thresholdHigh:
        $ref: "#/definitions/Voltage"
      thresholdMedium:
        $ref: "#/definitions/Voltage"
      thresholdLow:
        $ref: "#/definitions/Voltage"

externalDocs:
  description: "Find out more about Storage4Grid"
  url: "http://www.storage4grid.eu/pages/index.html"
